# Project exclude paths
/rental/target/
/client.core/target/
/boot-rental/target/
/api-rental/target/
/.settings
/.project
/rental/.settings
/rental/.classpath
/rental/.project
/client.core/.settings
/client.core/.classpath
/client.core/.project
/boot-rental/.settings
/boot-rental/.classpath
/boot-rental/.project
/api-rental/.settings
/api-rental/.classpath
/api-rental/.project
